/* Structure */

body {
    display: flex;
    justify-content: center;
    background-color: #313131;
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    width: 20em;
    margin: 2em 0;
    border-radius: 1em;
    background-color: white;
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(sunset-bg.png);
    background-size: cover;
    height: 8em;
    border-radius: 1em 1em 0 0;
    padding: 1em;
}

.app-list {
    background-color: #FFFFFF;
    min-height: 15em;
    max-height: 20em;
    overflow-y: auto;
}

.app-add-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 1em;
    height: 5em;
    border-radius: 0 0 1em 1em;
}

.app-add-section i:hover {
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

.app-add-section input {
    background-color: #ffffff;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    width: 90%;
    color: #4f4f4f;
}

/* Components */

.refresh-btn {
    align-self: flex-end;
    cursor: pointer;
}

.refresh-btn:hover {
    animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.date-container {
    display: flex;
    justify-content: space-between;
}

.date-container i {
    cursor: pointer;
}

.to-do-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5em 1em;
    border-bottom: 1px solid #ececec;
    transition: 0.6s;
}

.to-do-title {
    margin-left: 0.5em;
}

.to-do-container i:hover {
    cursor: pointer;
}

.fa-trash-alt:hover {
    animation: jello-horizontal 0.9s both;
}

.fa-check-circle {
    color: yellowgreen;
}

.fa-check-circle,
.fa-circle {
    position: relative;
    top: 2px;
}

.lined {
    text-decoration: line-through;
    color: #cccccc;
}

.hide {
    visibility: hidden;
}

/* Colors */

.color-1st {
    color: #FFFFFF;
}

.color-2nd {
    color: #4f4f4f;
}

.color-3rd {
    color: rgb(102, 98, 160);
}

.color-4th {
    color: #cccccc;
}

.color-5th {
    color: #eb4343;
}

/* Font */

.font-1x {
    font-size: 14px;
}

.font-2x {
    font-size: 16px;
}

.font-3x {
    font-size: 20px;
}

.font-4x {
    font-size: 24px;
}

/* Animations */

.fade-out-left {
    animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rotate-in-center {
    0% {
        transform: rotate(-180deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes fade-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}